
@media screen and (min-width: 1401px) {
    *{
        font-size: 1vw;
    }
}
@media screen and (max-width: 1400px) {
    *{
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 1000px) {
    *{
        font-size: 2vw;
    }
    div{
        display: inline-block;
    }
    mat-icon{
        display: inline-block;
    }
}
@media screen and (max-width: 600px) {
    *{
        font-size: 2vw;
    }
    mat-icon{
        display: inline-block;
    }
    div{
        display: inline-block;
    }
}