<mat-card class="messageCard">
    <mat-card-header>
        <button mat-fab class="mat-fab" color="white" (click)="startDialogue()">
            <mat-icon>textsms</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content [innerHTML]="text"></mat-card-content>
    <mat-card-footer>
        <div class="buttonDiv alignRight">
            <button #yesButton mat-fab class="mat-fab" color="white" (click)="yesButtonClicked()" [disabled]="yesDeactivated">
                <mat-icon class="buttonIcon">thumb_up</mat-icon>
            </button>
            <div class="resourceDiv">
                <mat-icon [matBadge]="yesTreasureTrend" matBadgeColor="accent" matBadgeSize="medium" class="material-icons-outlined" [class.hidden]="hideYesTreasureTrend">circle</mat-icon>
                <mat-icon [matBadge]="yesMilitaryTrend" matBadgeColor="accent" matBadgeSize="medium" class="material-icons-outlined" [class.hidden]="hideYesMilitaryTrend">shield</mat-icon>
                <mat-icon [matBadge]="yesHappinessTrend" matBadgeColor="accent" matBadgeSize="medium" [class.hidden]="hideYesHappinessTrend">sentiment_satisfied_alt</mat-icon>
                <mat-icon [matBadge]="yesPopulaceTrend" matBadgeColor="accent" matBadgeSize="medium" class="material-icons-outlined" [class.hidden]="hideYesPopulaceTrend">person</mat-icon>
            </div>
        </div>
        <div class="buttonDiv alignLeft">
            <button #noButton mat-fab class="mat-fab" color="white" (click)="noButtonClicked()" [disabled]="noDeactivated">
                <mat-icon class="buttonIcon">thumb_down</mat-icon>
            </button>
            <div class="resourceDiv">
                <mat-icon [matBadge]="noTreasureTrend" matBadgeColor="accent" matBadgeSize="medium" class="material-icons-outlined" [class.hidden]="hideNoTreasureTrend">circle</mat-icon>
                <mat-icon [matBadge]="noMilitaryTrend" matBadgeColor="accent" matBadgeSize="medium" class="material-icons-outlined" [class.hidden]="hideNoMilitaryTrend">shield</mat-icon>
                <mat-icon [matBadge]="noHappinessTrend" matBadgeColor="accent" matBadgeSize="medium" [class.hidden]="hideNoHappinessTrend">sentiment_satisfied_alt</mat-icon>
                <mat-icon [matBadge]="noPopulaceTrend" matBadgeColor="accent" matBadgeSize="medium" class="material-icons-outlined" [class.hidden]="hideNoPopulaceTrend">person</mat-icon>
            </div>
        </div>
    </mat-card-footer>
</mat-card>