.mat-fab,
.mat-button,
.mat-raised-button,
.mat-mdc-fab:not(.mdc-fab--extended),
.mat-flat-button {
    display: block;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: none;
    width: 10%;
    height: 6vh;
    margin-top: 1%;
    margin-bottom: 1%;
}

.startButtonDiv{
    width: 50%;
    margin-left: 25%;
    background-color: whitesmoke;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.buttonAndTrendDiv{
    background-color: whitesmoke;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

p{
    display: inline-block;
    position: relative;
    margin-bottom: 0;
}


.buttonDiv{
    width: 50%;
    overflow: visible;
    display: inline-block;
    position: relative;
}
.alignLeft{
    left: 0;
}
.alignRight{
    right: 0;
}
.messageCard{
    height: 100%;
    position: relative;
    overflow: auto;
    border-radius: 15px;
    -moz-border-radius: 15px;
}
.resourceDiv{
    margin-left: 10%;
    width: 80%;
    float:left;
    display: flex;
    justify-content: space-around;
}
.hidden{
    display:none;
}
.mat-badge-medium .mat-badge-content{
    width: 10px;
    height: 1px;
    line-height: 10px;
}
@media screen and (min-width: 1801px) {
    mat-icon{
        font-size: 1vw;
    }
    .buttonIcon{
        font-size: 1vw;
    }
  }
  
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1800px) {
    .buttonIcon{
        font-size: 1.5vw;
    }
}
@media screen and (min-width: 1401px) {
    mat-icon{
        font-size: 1vw;
    }
}/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 1400px) {
    mat-icon{
        font-size: 2vw;
    }
}
@media screen and (max-width: 1000px) {
    mat-icon{
        font-size: 2vw;
    }
}
@media screen and (max-width: 500px) {
    mat-icon{
        font-size: 3vw;
    }
}
  