.mat-fab,
.mat-button,
.mat-raised-button,
.mat-mdc-fab:not(.mdc-fab--extended),
.mat-flat-button {
    display: block;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: none;
}



.buttonDiv{
    width: 50%;
    overflow: visible;
    display: inline-block;
    position: absolute;
    bottom: 0;
}
.alignLeft{
    left: 0;
}
.alignRight{
    right: 0;
}
.messageCard{
    height: 100%;
    position: relative;
    overflow: visible;
    border-radius: 15px;
    -moz-border-radius: 15px;
}