.fallInPlace{
    animation-name: fallInPlaceAnimation;
    animation-duration: 2s; 
    animation-timing-function: ease-out;
    animation-direction: reverse;
    transform: scale(3);
}

.coin {
    transform: rotate(90deg);
    width: 10%;
    position: absolute;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    z-index: -1000;
}

@keyframes fallInPlaceAnimation {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
}
