.fallInPlace{
    animation-name: fallInPlaceAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-direction: reverse;
    transform: scale(3);
}

.coin {
    transform: rotate(90deg);
    width: 2%;
    position: absolute;
}

@keyframes fallInPlaceAnimation {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
}