.gameContainer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.hidden{
    display: none;
}
.queenAndHoardContainer{
    width: 30vw; 
    height: 100vh;
    margin-left: 5vw;
    margin-top: 0;
    position: absolute;
}
.cityContainer{
    width: 60vw;
    height: 40vh;
    margin-left: 20vw;
    margin-top: 0;
    overflow: hidden;
    position: absolute;
    z-index: -120001;
}
.textContainer{
    margin-top: 70vh;
    width: 60vw;
    height: 20vh;
    margin-left: 20vw;
    position: absolute;
}
.queensSubjectContainer{
    width: 60vw;
    margin-left: 40vw;
    margin-top: 30vh;
    height: 50vh;
    position: absolute;
    overflow: hidden;
}
.backgroundArt {
    border-radius: 45%;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    position: absolute;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
.Queen{
    width: 30%;
    margin-top: 30vh;
    margin-left: 35%;
    position: absolute;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    z-index: 10000;
}

.Hoard{
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 45%;
    z-index: -110000;
}
.Menu{
    margin-left: 1vw;
    margin-top: 1vh;
    width: 3vw;
    position: absolute;
    overflow: visible;
}
.mat-fab,
.mat-button,
.mat-raised-button,
.mat-mdc-fab:not(.mdc-fab--extended),
.mat-flat-button {
    border-radius: 15%;
    width: 3vw;
    margin-top: 1vh;
}
.ResourceCounterCard{
    margin-top: 0%;
    position: relative;
}
.ResourceCounterDiv{
    width: fit-content;
    block-size: fit-content;
    display: block;
    overflow: auto;
    float: right;
    margin-right: 1vw;
    position: relative;
    top: 2vh;
    
}
.gameBackGroundLarge{
    position: absolute;
    width: 100vw;
    height: 100vh;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    z-index: -120000;
}