<div class="gameContainer">
<img class="cityContainer" src="../../assets/CityBackground.png">
<app-city-container class="cityContainer" [populace]="populaceValue" [activeEvents]="activeConditions" (deleteConditionEvent)="deleteCondition($event)" (addConditionEvent)="addCondition($event)" [checkEvents]="cityCheckConditions"></app-city-container>
<img class="gameBackGroundLarge" src="../../assets/GameBackground.png" >
<app-character-animation-container class="queensSubjectContainer" [source]="displayItem">
</app-character-animation-container>
<div class="queenAndHoardContainer">
    <app-hoard class="Hoard" [hoardValue]="hoardValue"></app-hoard>
    <img class="Queen" src="../../assets/Queen.png">
</div>
<div class="textContainer">
    <app-dialogue-box [activeItem]="activeDialogueItem" (yesButtonEvent)="dialogueYes($event)" (noButtonEvent)="dialogueNo($event)"></app-dialogue-box>
</div>
<div class="Menu">
    <button #menuButton mat-fab class="mat-fab" color="white" (click)="menuButtonClicked()">
        <mat-icon>menu</mat-icon>
    </button>
    <div [hidden]="displaySubMenu">
        <button mat-fab class="mat-fab" color="white" (click)="addMoney()">
            <mat-icon>expand_less</mat-icon>
        </button>
        <button mat-fab class="mat-fab" color="white" (click)="removeMoney()">
            <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-fab class="mat-fab" color="white" (click)="startDialogue()">
            <mat-icon>textsms</mat-icon>
        </button>
        <button mat-fab class="mat-fab" color="white" (click)="addPopulace()">
            <mat-icon>group_add</mat-icon>
        </button>
        <button mat-fab class="mat-fab" color="white">
            <mat-icon>person_cancel</mat-icon>
        </button>
    </div>
</div>
<div class="ResourceCounterDiv">
    <mat-card class="ResourceCounterCard">
        <mat-card-content>
            <table>
                <tr>
                    <th>Treasure</th>
                    <th>Military</th>
                    <th>Happiness</th>
                    <th>Populace</th>
                </tr>
                <tr>
                    <td><app-resource-counter icon="circle" [outline]="true" [amount]="hoardValue"></app-resource-counter></td>
                    <td><app-resource-counter icon="shield" [outline]="true" [amount]="militaryValue"></app-resource-counter></td>
                    <td><app-resource-counter icon="sentiment_satisfied_alt" [outline]="false" [amount]="happinessValue"></app-resource-counter></td>
                    <td><app-resource-counter icon="person"[outline]="true" [amount]="populaceValue"></app-resource-counter></td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
</div>