.hidden{
    display: none;
}

.contentWindow {
    width: 90%;
    margin: 5%;
    min-height: 5%;
    z-index: 1;
    position: absolute;
}

.centeredVertical {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
