*{
    text-align: center;
    color: black;
}

.startDescription{
    color: blanchedalmond;
}

.screenOrientationRecommendation{
    color: black;
}

.button-rounded {
    &.mat-button,
    &.mat-raised-button,
    &.mat-flat-button {
      border-radius: 25% / 50%;
    }
}

.hidden{
    display: none;
}

.fadeOut{
    animation-name: fadeOutAnimation;
    animation-duration: 0.5s;
}

@keyframes fadeOutAnimation {
    from {opacity: 100%;}
    to {opacity: 0%;}
}
