div{
    margin: 5%;
}

header{
    text-align: center;
}

p{
    text-align: center;
}

.hidden{
    display: none;
}

.button-rounded {
    &.mat-button,
    &.mat-raised-button,
    &.mat-flat-button {
      border-radius: 25% / 50%;
      margin: 0;
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
}

.contentWindow {
    width: 90%;
    margin: 5%;
    min-height: 5%;
    z-index: 1;
    position: absolute;
}

.centeredVertical {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.backgroundArt {
    border-radius: 45%;
    width: 80%;
    margin-left: 10%;
}