<div>
    <ng-container #container>

    </ng-container>
</div>
<!---
    <app-hoard-item [fallHeight]=100 [x]=0 [y]="nextElementHeight"></app-hoard-item>
    <app-hoard-item [fallHeight]=100 [x]=10 [y]="nextElementHeight"></app-hoard-item>
    <app-hoard-item [fallHeight]=100 [x]=20 [y]="nextElementHeight"></app-hoard-item>
    <app-hoard-item [fallHeight]=100 [x]=30 [y]="nextElementHeight"></app-hoard-item>
    <app-hoard-item [fallHeight]=100 [x]=40 [y]="nextElementHeight"></app-hoard-item>
    <app-hoard-item [fallHeight]=100 [x]=50 [y]="nextElementHeight"></app-hoard-item>-->