.entering{
    animation-name: enterAnimation;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    right: 80%;

}

.leaving{
    animation-name: leaveAnimation;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 0%;
}
.hidden{
    display:none;
}
img{
    margin-top: 10%;
    max-height: 65%;
    max-width: 50%;
    height: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    margin-right: -10%;
    margin-left: 20%;
    position: absolute;
    z-index: -1000;
    image-rendering: pixelated;
}
.large{
    margin-top: 0%;
    max-height: 100%;
    max-width: 50%;
    height: 100%;

}
@keyframes enterAnimation {
    0% {
      right: 0%;
    }
    100% {
        right: 80%;
    }
}
@keyframes leaveAnimation {
    0% {
        right: 80%;
    }
    100% {
        right: 0%;
    }
}